body {
    background: #f7f7f7;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: linear-gradient(to right,
            #e30f00, #ff6720);
    color: #fff;
    padding: 0.5vmin 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 18px;
    font-size: 1.4em;
    color: #fff !important;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #fa571a;
}

.navbar-inverse .navbar-nav li a {
    color: #e8e8e8;
    padding: 18px;
}

.carousel {
    padding-top: 40px;
}

.carousel-caption {
    top: 55%;
    transform: translateY(-55%);
    text-transform: uppercase;
}

.carousel-caption h1 {
    color: #ff6720;
    font-weight: bolder;
}

.carousel {
    margin: 20px 50px;
}

.item img {
    opacity: 0.95;
    width: 100% !important;
    height: 600px !important;
}

.btn,
.btn:focus {
    font-size: 18px;
    color: #fff;
    padding: 8px 18px;
    background: #e30f00;
    border: 2px solid #fff;
}

.btn:hover {
    font-size: 18px;
    color: #fff;
    padding: 8px 18px;
    background: #ff6720;
}

.buttons-position {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 100;
}

.buttons-position img {
    width: 80px;
    height: 80px;
    padding: 1vmin;
}

.number {
    color: #fa571a;
    margin: 30px;
    font-size: 3em;
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 4px;
    border-color: #dedede;
    padding: 8px;
    
}

section .container {
    padding: 20px;
}

.section-1, .section-1 h2 {
    background-color: #ff9c77;
    border-color: #f0f0f0;
}

.section-1 h2 {
    margin-top: 30px;
}

section img {
    padding-bottom: 10px;
    width: 90%;
    height: 600px;
    margin-left: 20px;
}

section h2 {
    color: #e30f00;
    font-size: 3em;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 4px;
    border-color: #dedede;
    padding: 8px;
    margin-top: 10px;
}

section h3 {
    font-size: 1.24em;
    margin: 0.5em;
}

footer {
    width: 100%;
    background: linear-gradient(to bottom,
            #fa571a, #5f6573);
    ;
    padding: 0.35%;
    color: #fff;
}

footer h2 {
    background: #e30f00;
    padding: 1%;
}

.col-sm-6 img {
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 800px) {
    .navbar-inverse .navbar-nav li a {
        text-align: center;
    }

    .carousel-caption {
        top: 20% !important;
        transform: translateY(-15%) !important;
    }

    .carousel {
        margin: 20px 20px;
    }

    .item img {
        opacity: 0.95;
        width: 100% !important;
        height: 300px !important;
    }

    .buttons-position img {
        width: 70px;
        height: 70px;
        padding: 1vmin;
    }

    .carousel-caption {
        top: 50%;
        transform: translateY(-45%);
    }
    
    .section-7 iframe{
        width: 450px;
        height: 300px;
    }
}